HousePrices/Titanic/.vs/Titanic/v14/.suo
HousePrices/Titanic/__pycache__/
HousePrices/Titanic/myValidate.csv
HousePrices/Titanic/mytest.csv
HousePrices/Titanic/mytrain.csv
HousePrices/Titanic/output.csv
*__pycache__

*~lock.*

HousePrices/cats_vs_dogs/train*
HousePrices/cats_vs_dogs/test*
HousePrices/cats_vs_dogs/validate/
HousePrices/cats_vs_dogs/model/
HousePrices/cats_vs_dogs/output*
HousePrices/cats_vs_dogs/test-mini
uploadedimage.jpg