HousePrices/Titanic/.vs/Titanic/v14/.suo
HousePrices/Titanic/__pycache__/
HousePrices/Titanic/myValidate.csv
HousePrices/Titanic/mytest.csv
HousePrices/Titanic/mytrain.csv
HousePrices/Titanic/output.csv
*__pycache__

*~lock.*

cats_vs_dogs/train*
cats_vs_dogs/test*
cats_vs_dogs/validate/
cats_vs_dogs/model/
cats_vs_dogs/output*
cats_vs_dogs/test-mini
uploadedimage*