houseprices/output.csv

*__pycache__

*~lock.*

cats_vs_dogs/train*
cats_vs_dogs/test*
cats_vs_dogs/validate/
cats_vs_dogs/model/
cats_vs_dogs/output*
cats_vs_dogs/test-mini
cats_vs_dogs/*png
static/bower_components/*/*.gzip
static/bower_components/*/*.json
static/bower_components/*/*md
static/bower_components/*/*ignore
static/bower_components/*/common
static/bower_components/*/test
static/bower_components/*/modules
static/bower_components/*/templates
static/bower_components/*/.travis*
static/bower_components/*/src
static/bower_components/*/fonts
static/bower_components/*/grunt
static/bower_components/*/less
static/bower_components/*/nuget
static/bower_components/*/Gemfile*
static/bower_components/*/Grunt*
static/bower_components/bootstrap/js
static/bower_components/bootstrap/dist/fonts
static/bower_components/jquery/external
LICENSE
LICENSE.*
AUTHORS.*
.idea/workspace.xml
.idea/misc.xml
static/bower_components/
